---
permalink: early spread detection
title: Die Ausbreitung früh erkennen
author: Natalie Davidson
---

<h3>Warum sollte man bei covidtracker.ch mitmachen? </h3>
<p>

  Um diese Frage zu beantworten müssen wir uns zunächst einer anderen Frage zuwenden: Was würde passieren, wenn alle Einschränkungen des öffentlichen Lebens direkt aufgehoben würden? Wie bereits in Singapur [<b>1</b>] und während der Grippe-Pandemie in 1918 beobachtet worden ist [<b>2</b>, <b>3</b>] und wie von einer Studie des Imperial College London auch für COVID-19 vorausgesagt wird [<b>4</b>], ist das Auftreten einer zweiten Erkrankungswelle möglich. Wie eine solche zweite Erkrankungswelle verlaufen könnte ist in Abbildung 1 dargestellt. Basierend auf der Studie von Forschenden des Imperial College zeigen die blaue bzw. gelbe Kurve wie sich die Fallzahlen erneut zuspitzen könnten nachdem etwaige Einschränkungen aufgehoben werden.

</p>

<figure>
  <img class="blog-img" src="/blog/images/blogpost_intervention_peak_DE.png" alt="Secondary Peak after interventions stop. Adapted from [5]">
  <figcaption>Abbildung 1 (Quelle: [<b>5</b>], bearbeitet).</figcaption>
</figure>

<p>
  Um herauszufinden ob eine solche zweite Welle im Anmarsch ist, bräuchte es idealerweise eine  tägliche Schätzung der Anzahl aller an COVID-19 Erkrankter in der Schweiz. Wollten wir dies anhand eines regelmässigen, flächendeckenden klinischen Tests tun, würden wir schnell sowohl an logistische als auch an Kostengrenzen stossen -  vor allem deshalb, weil für eine robuste Schätzung auch das regelmässige Testen einer grossen Anzahl von Personen notwendig ist, die nur milde oder gar keine Symptome zeigen oder die gar nicht erkrankt sind. Das wird sich auf absehbare Zeit in der Schweiz nicht umsetzen lassen.<b>Genau hier setzt unsere Umfrage an und Sie können uns direkt dabei helfen! Basierend auf unsere <a href="https://www.covidtracker.ch/de/blog/posts/2020/04/16/case-definition.html">Fall-Definition von COVID-19</a> und unterstützt durch Ihre Teilnahme können wir eine zweite Erkrankungswelle besser erkennen und frühzeitig Gegenmassnahmen ergreifen!</b>
</p>

<h3>Wie viele Teilnehmer werden gebraucht? </h3>
<p>
  Mit dem Ziel eine zweite Erkrankungswelle frühzeitig zu erkennen, galt es für uns zunächst herauszufinden wie viele Umfrageergebnisse für eine statistisch signifikante Schätzung benötigt werden. Wir wissen bereits, dass diese Zahl von einigen Kenngrössen abhängt: der Verdopplungsrate (also die Anzahl von Tagen innerhalb derer sich die Anzahl Erkrankter verdoppelt) und die Zeitverzögerung mit der etwaige Symptome einsetzen und man Erkrankte überhaupt erkennen kann.
</p>

<p>
  Wir testeten zunächst wie viele Teilnehmer es bräuchte um eine zweite Erkrankungswelle innerhalb von 2 bis 8 Tagen zu erkennen, abhängig von unterschiedlichen COVID-19 Verdopplungsraten. Für eine solche Simulation muss man einige Annahmen treffen. In unserem Fall haben wir angenommen, dass 2% der Schweizer Einwohner Symptome zeigen (basierend auf unseren bisherigen Umfragedaten) und dass unser Modell eine Sensitivität von 80% hat (das heisst, von 100 positiven Fällen können wir 80 identifizieren). Um nun beispielsweise eine zweite Erkrankungswelle innerhalb von 2 Tagen nach erstem Auftreten von Symptomen (2+Δ, wobei Δ die Inkubationszeit darstellt) zu erkennen und man annimmt, dass sich die Zahl der an COVID-19 Erkrankten alle drei Tage verdoppelt, <b>bräuchten wir mindestens 200 Teilnehmer pro Region und Tag</b> um eine Aussage zu treffen. In Tabelle 1 fassen wir die Ergebnisse für andere Erkennungszeiträume und Verdopplungsraten zusammen. Wenn wir also einen Anstieg der Fälle innerhalb eines Kantons detektieren wollen, dann sind 200 Teilnehmer pro Tag ausreichend. Wollen wir dieselbe Detektion jedoch für eine enger gefasste Region ermöglichen (bspw. für eine Stadt oder Postleitzahlbereich), dann bräuchte es eben auch 200 Teilnehmer für diese enger gefasste Region. Möchte man die gesamte Schweiz mit einer guten regionalen Auflösung abdecken, so ergeben unsere Schätzungen, dass es Schweizweit täglich mindestens 20’000 Teilnehmer braucht.

</p>


<figure>
  <img class="blog-img" src="/blog/images/blogpost_power_sim_DE.png" alt="Estimated number of samples needed to detect secondary peak.">
  <figcaption>Tabelle 1.</figcaption>
</figure>

<p>
  Da wir nun herausgefunden haben wie viele Teilnehmer wir brauchen, können wir uns jetzt der Frage zuwenden ob diese Mindestzahl derzeit schon erreicht ist? Dies ist leider nicht der Fall. <b>Für die meisten Kantone haben wir derzeit nicht ausreichend Teilnehmer um eine zweite Erkrankungswelle zu erkennen bevor sich die Anzahl der Erkrankten verdoppelt hat.</b> Tabelle 2 fasst die Kantone zusammen, welche derzeit genügend Teilnehmer haben um eine zweite Erkrankungswelle (mit unterschiedlichen Detektionszeiten) zu erkennen. Diese Angaben basieren auf den Teilnehmerzahlen des letzten Monats sowie der letzten 7 Tage. Um eine noch detailliertere Karte der derzeitigen Verbreitung von Symptomen zeichnen zu können, bräuchten wir ungefähr 10 mal mehr Teilnehmer als derzeit.

</p>


<figure>
  <img class="blog-img" src="/blog/images/blogpost_canton_coverage_DE.png" alt="Cantons with sufficient submissions to detect the secondary wave.">
  <figcaption>Table 2.</figcaption>
</figure>


<h3> Helfen Sie uns! </h3>
<p>
  <b>Unsere Umfrage zählt auf die wissenschaftliche Unterstützung durch die Bevölkerung!</b> Unabhängig davon ob Sie gesund oder erkrankt sind - jeder Teilnehmende und jede/r der/die bereit ist die Umfrage bekannter zu machen hilft uns dabei den Erkennungsmethoden für eine zweite Erkrankungswelle frühzeitig mehr Aussagekraft zu geben. Wenn nur 1% der Schweizer Bevölkerung täglich eine halbe Minute Zeit opfert um an der Umfrage teilzunehmen, können wir eine zweite Erkrankungswelle bereits frühzeitig erkennen. Wenn Sie uns also unterstützen wollen, bitte nehmen Sie regelmässig an unserer Umfrage Teil und bitten Sie andere das gleiche zu tun!
</p>


<section class="home-section" id="sharing">
  <%= partial "partials/social" %>
</section>


<p>
  Quellen:
</p>
<ol>
  <li>
    Griffiths, James. “Singapore Had a Model Coronavirus Response, Then Cases Spiked. What Happened?” CNN, Cable News Network, 19 Apr. 2020, <a href="edition.cnn.com/2020/04/18/asia/singapore-coronavirus-response-intl-hnk/index.html"> Link to article. </a>
  </li>

  <li>
    “1918 Pandemic Influenza: Three Waves.” Centers for Disease Control and Prevention, Centers for Disease Control and Prevention, 11 May 2018, <a href="www.cdc.gov/flu/pandemic-resources/1918-commemoration/three-waves.html"> Link to article. </a>
  </li>

  <li>
    Soper, George A. "The Lessons of the Pandemic." Science 49.1274 (1919): 501-506.
  </li>

  <li>
    Ferguson, Neil, et al. "Report 9: Impact of non-pharmaceutical interventions (NPIs) to reduce COVID19 mortality and healthcare demand." (2020).  </li>
  <li>
    Adam, David. "Special report: The simulations driving the world's response to COVID-19." Nature (2020).
  </li>

</ol>
