<h1 class="survey_additional_header">What you should know</h1>

<p class="survey_additional">
  The collected data from this survey will be used for displaying summary statistics and for epidemiological research. This survey is for everyone, not only for people who may have contracted SARS-CoV-2 (COVID-19). If you would like to answer for multiple members of your household (e.g., children), please fill one survey per person.
</p>

<p class="survey_additional_part2">
  This survey is not a COVID-19 diagnostic tool, and taking part in it does not preclude a diagnostic test if needed. Having any of the symptoms that are listed in our survey is not necessarily an indication of COVID-19. Also, having comorbidities listed in our survey does not necessarily mean that you are an at-risk individual. If you believe you may be infected or would like to get medical information on COVID-19, please get in touch with your family doctor or visit the <a href="https://www.bag.admin.ch/bag/en/home.html" target="_blank">Swiss Federal Office of Public Health</a> website.
</p>
