<h1 class="survey_additional_header">Cosa dovresti sapere</h1>

<p class="survey_additional">
  I dati raccolti da questo sondaggio verranno utilizzati per la visualizzazione di statistiche riassuntive e per la ricerca epidemiologica. Questo questionario è per tutti, non solo per le persone che potrebbero aver contratto SARS-CoV-2 (COVID-19). Se desidera rispondere per più membri della sua famiglia (ad es. Bambini), compili un formularioi per persona.
</p>

<p class="survey_additional_part2">
  Questo sondaggio non è uno strumento diagnostico COVID-19 e la sua partecipazione non preclude un test diagnostico, se necessario. Avere uno dei sintomi elencati nel nostro sondaggio non è un'indicazione di COVID-19. Avere comorbidità elencate nel nostro sondaggio non significa necessariamente che lei sia un individuo a rischio. Se ritiene di essere malato o desideri ottenere informazioni mediche su COVID-19, contatti il suo medico di famiglia o visiti il <a href="https://www.bag.admin.ch/bag/en/home.html" target="_blank">sito web dell'Ufficio federale della sanità pubblica</a>.
</p>
