<h1 class="survey_additional_header">Was du wissen solltest</h1>

<p class="survey_additional">
  Die in dieser Umfrage gesammelten Daten werden zur Berechnung von zusammenfassenden Statistiken und für die epidemiologische Forschung verwendet. Diese Umfrage richtet sich an alle Einwohner der Schweiz, nicht nur an Personen die sich möglicherweise mit SARS-CoV-2 (COVID-19) angesteckt haben. Falls Sie für ein Mitglied Ihres Haushalts (z. B. Kinder) antworten möchten, füllen Sie bitte eine separate Umfrage pro Person aus.
</p>

<p class="survey_additional_part2">
  Diese Umfrage ist nicht zur Selbstdiagnose von COVID-19 geeignet und eine Teilnahme schließt einen diagnostischen Test bei Bedarf nicht aus. Sollten Sie eines der in unserer Umfrage aufgeführten Symptome bei sich feststellen, ist dies allein noch kein Hinweis auf COVID-19. Wenn eine Vorerkrankung unserer Umfrage auf Sie zutrifft, bedeutet dies nicht unbedingt, dass Sie zum gefährdeten Personenkreis gehören. Wenn Sie glauben, selbst erkrankt zu sein oder medizinische Informationen zu COVID-19 erhalten möchten, wenden Sie sich bitte an Ihren Hausarzt oder besuchen Sie die <a href="https://www.bag.admin.ch/bag/de/home.html" target="_blank">Website des Bundesamtes für Gesundheit</a>.
</p>
