---
permalink: case definition
title: Wie definiert man COVID-19 Fälle?
author: Ximena Bonilla
---

<p>
  Epidemiologen können die Ausbreitung einer Krankheit innerhalb der Bevölkerung durch die Überprüfung von Fallzahlen und Infektionsraten bewerten und durch gewissenhaftes Verfolgen dieser Zahlen über die Zeit hinweg die Situation überwachen. Als Grundlage hierfür benötigt man jedoch eine exakte Falldefinition.
</p>

<p>
  Mit Hilfe von standardisierten Richtlinien ist es möglich die Fallzahlen und Infektionsraten verschiedener Zeitpunkte als auch verschiedener Länder miteinander  zu vergleichen (vorausgesetzt, es werden dieselben Richtlinien benutzt). Auf diese Weise ist es möglich die Zahl der heutigen COVID-19 Fälle im Kanton Bern mit den Zahlen in einem Jahr zu vergleichen oder die Infektionsraten aus dem Waadtland mit denen des Kantons Zürich oder gar der gesamten Schweiz in Beziehung zu setzen. Diese Art von Vergleichen hilft dabei Regionen die stärker von COVID-19 betroffen sind von solchen Regionen zu unterscheiden in denen die Krankheit unter Kontrolle ist. Auf diese Weise kann man an der einen Stelle rechtzeitig Hilfsmittel bereitstellen und an einer anderen entscheiden ob Restriktionen weiter gelockert werden können. Dies ist jedoch nur möglich wenn für diese Beurteilungen dieselben Richtlinien zur Falldefinition verwendet werden. Nur dann kann man davon ausgehen, dass die gemachten  Beobachtungen vergleichbar sind und nicht durch den Gebrauch unterschiedlicher Definitionen hervorgerufen wurden
</p>

<p>
  Da COVID-19 bisher noch weitgehend unerforscht ist, wird die Falldefinition laufend angepasst. Fast täglich gewinnen wir neue Erkenntnisse hinzu. Dennoch haben die Weltgesundheitsorganisation (WHO) und das europäische Zentrum für Seuchenschutz und Prävention (ECDC) Richtlinien mit Standardkriterien herausgegeben anhand derer Mediziner  COVID-19 diagnostizieren können. Auch covidtracker.ch nutzt diese Kriterien um Krankheitsfälle zu definieren und diese auf einer Karte zu visualisieren.
</p>

<ol>
  <li>
    <b>Wahrscheinliche COVID-19 Fälle:</b> Personen mit akuter Atemwegserkrankung (Fieber UND mindestens einem Symptomen der Krankheit, wie z.B. Husten oder Atemnot), die in einem Gebiet mit weiter gesellschaftlicher Ausbreitung von COVID-19 (z.B. Schweiz) leben ODER sich vor kurzem in einem Gebiet mit weiter gesellschaftlicher Ausbreitung aufgehalten haben ODER Kontakt zu einer infizierten oder womöglich infizierten Person hatten.
  </li>

  <li> <b>COVID-19 Verdachtsfälle:</b>Fälle in denen kein klinischer Test durchgeführt wurde oder nicht eindeutig ausgefallen ist</li>

  <li> <b>Bestätigte COVID-19 Fälle:</b>Personen mit positivem COVID-19 Nachweis, unabhängig von Symptomen.</li>
</ol>

<p>
  Nur Personen, die positiv auf COVID-19 getestet wurden (unabhängig davon, ob sie Symptome haben oder nicht) werden als bestätigte Fälle betrachtet. Zurzeit werden in der Schweiz hauptsächlich Personen mit schwerem Krankheitsverlauf auf COVID-19 getestet, was nicht unbedingt der realen Zahl an Erkrankten entspricht, da viele nur milde oder mäßig ausgeprägte Symptome aufweisen, die keinen Krankenhausaufenthalt erforderlich machen. Da hierdurch die Zahl der derzeit bestätigten Fälle sehr gering ist, werden diese auf der Karte nicht extra angezeigt. Vielmehr haben wir uns dazu entschieden <b>die wahrscheinlichen COVID-19 Fälle</b> darzustellen, da diese besser dafür geeignet sind die Verbreitung von Krankheitssymptomen in der Bevölkerung widerzuspiegeln.
</p>

<p>
  Es besteht auch weiterhin die Möglichkeit, dass wir diese Definition weiter anpassen werden um andere Faktoren (z.B. zusätzliche Risikofaktoren, Vorerkrankungen und neue Symptome) zu berücksichtigen, oder falls die offiziellen Richtlinien der Gesundheitsbehörden angepasst werden. In diesem Blog werden wir Sie auch weiterhin über alle Änderungen und Neuigkeiten informieren.
<p/>

<p>
  Weitere Informationen:
</p>
<ul>
  <li>Principles of Epidemiology | Lesson 1 - Section 5. <a href="https://www.cdc.gov/csels/dsepd/ss1978/lesson1/section5.html">Link to Article</a>  (2019).</li>

  <li>Global Surveillance for human infection with coronavirus disease (COVID-19). <a href="https://www.who.int/publications-detail/global-surveillance-for-human-infection-with-novel-coronavirus-(2019-ncov)">Link to Article</a></li>

  <li>Case definition and European surveillance for COVID-19, as of 2 March 2020. European Centre for Disease Prevention and Control <a href="https://www.ecdc.europa.eu/en/case-definition-and-european-surveillance-human-infection-novel-coronavirus-2019-ncov">Link to Article</a> </li>
</ul>
