
  /* -----------------------------------------------------------------------------
  
    TABS COMPONENT
    
  ----------------------------------------------------------------------------- */
  /**
   * Tabs component
   *
   * A responsive tabs component that falls back to a linear conent display when
   * JavaScript is disabled. The following is the default suggested markup to play
   * nicely with the JavaScript. If you change it up, just make sure you pass in
   * the correct parameters to the tabs instance.
   *
   * <div id="tabs" class="c-tabs no-js">
   *   <div class="c-tabs-nav">
   *     <a href="#" class="c-tabs-nav__link is-active"></a>
   *     <a href="#" class="c-tabs-nav__link"></a>
   *     ...
   *   </div>
   *   <div class="c-tab is-active">
   *     <div class="c-tab__content"></div>
   *   </div>
   *   <div class="c-tab">
   *     <div class="c-tab__content"></div>
   *   </div>
   *   ...
   * </div>
   */
  .c-tabs {
    /**/
  }
  
  /**
   * Tabs navigation
   */
  .c-tabs-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 1rem 1em 0 2em;
    padding: 0;
  }
  
  .c-tabs-nav__link {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 4px;
    padding: 12px;
    color: #664b4b;
    background-color: #b3a0a0;
    border: solid 1px #777;
    border-radius: 2px 2px 0 0;
    text-align: center;
    -webkit-transition: color 0.3s;
            transition: color 0.3s;
    text-decoration: none;
    position: relative;
    bottom: -1px;

    max-width: 300px;
  }
  
  .c-tabs-nav__link:last-child {
    margin-right: 0;
  }
  
  .c-tabs-nav__link:hover {
    color: #6d6d6d;
  }
  
  .c-tabs-nav__link.is-active {
    color: #dc446e;
    background-color: white;
    border-bottom: none;
  }
  
  .c-tabs-nav__link i,
  .c-tabs-nav__link span {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  
  .c-tabs-nav__link i {
    font-size: 18px;
  }
  
  .c-tabs-nav__link span {
    display: none;
    font-size: 18px;
  }
  
  @media all and (min-width: 720px) {
    .c-tabs-nav__link i {
      margin-bottom: 12px;
      font-size: 22px;
    }
    .c-tabs-nav__link span {
      display: block;
    }
  }
  
  /**
   * Tab
   */
  .c-tab {
    display: none;
    background-color: white;
    border-top: solid 1px #777;
  }
  
  .c-tab.is-active {
    display: block;
  }
  
  .c-tab__content {
    padding: 0 1.5rem 0 1.5rem;

    section {
        padding-top: 1rem;
    }
    h3 {
        margin-top: 0;
    }
  }
  
  /**
   * Tabs no-js fallback
   */
  .c-tabs.no-js .c-tabs-nav {
    display: none;
  }
  
  .c-tabs.no-js .c-tab {
    display: block;
    margin-bottom: 1.5rem;
  }
  
  .c-tabs.no-js .c-tab:last-child {
    margin-bottom: 0;
  }
  
  /* tabs with too much content */
  .fader {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    height: 80px;
    position: absolute;
    z-index: 9999;
    left: 0; right: 0; bottom: 0;
    border-bottom: solid 1px #ccc;
  }
