<div style="float: right; text-align: right; white-space: nowrap;">
  <a class="btn btn--small btn--download" href="https://dataserve.covidtracker.ch/api/zipsDaily" target="_blank">
    <img src="/images/noun_Download_1088686.svg" /> <%= t(:'apibuttons.daily') %>
  </a>
  <a class="btn btn--small btn--download" href="https://dataserve.covidtracker.ch/api/zipsWeekly" target="_blank">
    <img src="/images/noun_Download_1088686.svg" /> <%= t(:'apibuttons.weekly') %>
  </a>
  <a class="btn btn--small btn--download" href="https://dataserve.covidtracker.ch/api/zipsTotal" target="_blank">
    <img src="/images/noun_Download_1088686.svg" /> <%= t(:'apibuttons.total') %>
  </a>
</div>