<div class="container homelink">
  <% if I18n.locale == :en %>
    <%= link_to 'Blog Posts', '/en/blog' %>
  <% elsif I18n.locale == :fr %>
    <%= link_to 'Blog Posts', '/fr/blog' %>
  <% elsif I18n.locale == :it %>
    <%= link_to 'Blog Posts', '/it/blog' %>
  <% else %>
    <%= link_to 'Blog Posts', '/blog' %>
  <% end %>
</div>