<footer class="footer">
  <div class="container">
    <ul class="footer__nav">
      <li><%= link_to 'FAQ', '/faq.html' %></li>
      <li><%= link_to t(:imprint), '/imprint.html' %></li>
    </ul>
  </div>
</footer>