<header class="header">
  <%= partial "partials/navigation" %>
  <div class="container">
    <% link_to '/index.html' do %><%= partial "partials/icon" %><% end %>
    <!--<h1><%= link_to t(:title), '/index.html' %></h1>-->
  </div>
</header>