<section class="partners">
  <div class="partners-wrap">
    <div class="partner"><img src="/images/logo-eth.png" alt="ETH Zürich"></div>
    <div class="partner"><img src="/images/logo-inselspital.png" alt="Inselspital Bern"></div>
  </div>
</section>