<div class="social-wrap">
  <ul>
    <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://www.covidtracker.ch" class="social-btn social-btn--fb">Auf Facebook teilen</a></li>
    <li><a target="_blank" href="https://twitter.com/home?status=https://www.covidtracker.ch " class="social-btn social-btn--twitter">Auf Twitter teilen</a></li>
    <li><a target="_blank" href="mailto:info@example.com?&subject=&body=https://www.covidtracker.ch " class="social-btn social-btn--mail">Per E-Mail teilen</a></li>
  </ul>
</div>