<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h1>Einverständniserklärung</h1>

    <strong>Anleitung:</strong>
    <ul>
      <li>Bitte lesen Sie dieses Formular sorgfältig durch.</li>
      <li>Bitte nehmen Sie Kontakt zum Studienmanagement auf, falls Sie irgendwelche Fragen haben.</li>
    </ul>

    <p>
      <strong>Studientitel:</strong> Schweizweite Longitudinale COVID-19 Gesundheitsstudie (SloCo)
    </p>

    <p>
      <strong>Studienort: </strong><a href="https://covidtracker.ch">https://covidtracker.ch</a> (auch erreichbar unter <a href="http://covid19survey.ch">http://covid19survey.ch</a>)</p>

    <p>
      <strong>Name des Studienleiters:</strong> <a href="https://bmi.inf.ethz.ch/people/person/gunnar-raetsch/" target="_blank">Prof. Dr. Gunnar R&auml;tsch</a></p>

    <p><strong>Studienteilnehmer:</strong></p>

    <ul>
      <li>Ich nehme freiwillig an dieser Studie teil und kann jederzeit ohne Angabe von Gründen und ohne negative Folgen von der Studie zurücktreten.</li>
      <li>Ich wurde <a href="/study_info.html" target="_blank">schriftlich</a> über die Ziele und Methoden der Studie, die Vor- und Nachteile sowie mögliche Risiken informiert.</li>
      <li>Ich habe die schriftlichen Informationen für Teilnehmer gelesen. Mir ist bekannt, dass ich alle Fragen im Zusammenhang mit der Studie per E-Mail an <a href="mailto:info@covidtracker.ch">info@covidtracker.ch</a> richten kann. Meine Fragen zur Teilnahme an der Studie wurden zufriedenstellend beantwortet. Ich habe eine Kopie der <a href="/study_info.html" target="_blank">Informationen für Teilnehmer</a> und die <a href="/consent.html">Einverständniserklärung</a> erhalten.</li>
      <li>Ich hatte ausreichend Zeit, um über die Teilnahme an der Studie zu entscheiden.</li>
      <li>Durch Aktivieren des Kontrollkästchens unten bestätige ich, dass ich die Anforderungen für die Teilnahme an der Studie erfülle, die in den Informationen für Teilnehmer angegeben sind.</li>
      <li>Ich bin damit einverstanden, dass die verantwortlichen Forscher und / oder die Mitglieder der Ethikkommission unter streng eingehaltenen Vertraulichkeitsregeln Zugang zu den Originaldaten haben.</li>
      <li>Mir ist bewusst, dass ich während der Studienteilnahme die Anforderungen und Einschränkungen einhalten muss, die in den Informationen für Teilnehmer beschrieben sind. Die Untersuchungsleiter können mich ohne gegenseitiges Einverständnis von der Studie ausschließen.</li>
    </ul>
  </section>
</div>
