<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h1>Dichiarazione di consenso</h1>

    <strong>Istruzioni:</strong>
    <ul>
      <li>Si prega di leggere attentamente questo modulo.</li>
      <li>In caso di domande, si prega contattare il responsabile dello studio.</li>
    </ul>

    <p>
      <strong>Titolo dello studio:</strong> Swiss Longitudinal COVID-19 Health Survey (SloCo)
    </p>

    <p>
      <strong>Luogo di studio: </strong><a href="https://covidtracker.ch">https://covidtracker.ch</a> (disponibile anche su <a href="http://covid19survey.ch">http://covid19survey.ch</a>)</p>

    <p>
      <strong>Nome del responsabile dello studio:</strong> <a href="https://bmi.inf.ethz.ch/people/person/gunnar-raetsch/" target="_blank">Prof. Dr. Gunnar R&auml;tsch</a></p>

    <p><strong>Partecipante:</strong></p>

    <ul>
      <li>Partecipo a questo studio su base volontaria e posso ritirarmi dallo studio in qualsiasi momento senza fornire motivazioni e senza conseguenze negative.</li>
      <li>Sono stato informato per <a href="/it/study_info.html" target="_blank">iscritto</a> degli obiettivi e delle procedure dello studio, dei vantaggi e degli svantaggi, nonché dei potenziali rischi.</li>
      <li>Ho letto le informazioni scritte per i volontari. Sono consapevole di poter inviare tutte le domande relative allo studio via e-mail a <a href="mailto:info@covid19survey.ch">info@covid19survey.ch</a>. Le mie domande relative alla partecipazione allo studio hanno avuto una risposta soddisfacente. Mi è stata data una copia delle <a href="/it/study_info.html" target="_blank">informazioni per i volontari</a> e il <a href="/it/consent.html" target="_blank">modulo di consenso</a>.</li>
      <li>Mi è stato concesso il tempo sufficiente per prendere una decisione sulla partecipazione allo studio.</li>
      <li>Selezionando la casella qui sotto, certifico di soddisfare i requisiti per la partecipazione allo studio indicati nelle informazioni per i volontari.</li>
      <li>Sono d’accordo che i ricercatori responsabili e / o i membri della Commissione etica abbiano accesso ai dati originali secondo regole di riservatezza rigorose.</li>
      <li>Sono consapevole che durante lo studio devo rispettare i requisiti e i limiti descritti nelle informazioni per i volontari. I ricercatori possono escludermi dallo studio senza mutuo consenso.</li>
    </ul>
  </section>
</div>
