<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h1>Formulaire de consentement</h1>

    <strong>Instructions:</strong>
    <ul>
      <li>Veuillez lire attentivement ce formulaire.</li>
      <li>Pour toute question, n’hésitez pas à contacter la personne en charge de l’étude ou le directeur de recherche.</li>
    </ul>

    <p>
      <strong>Titre de l’étude:</strong> Etude longitudinale de santé COVID-19 à l’échelle de la Suisse (SloCo)
    </p>

    <p>
      <strong>Lieu de l’étude: </strong><a href="https://covidtracker.ch">https://covidtracker.ch</a> (également disponible sur <a href="https://covid19survey.ch">http://covid19survey.ch</a>)</p>

    <p>
      <strong>Nom et prénom du chercheur principal</strong>: <a href="https://bmi.inf.ethz.ch/people/person/gunnar-raetsch/" target="_blank">Prof. Dr. Gunnar R&auml;tsch</a></p>

    <p><strong>Participant:</strong></p>

    <ul>
      <li>Je participe à cette étude sur une base volontaire et je dispose d’un droit de retrait à tout moment sans avoir à fournir de justification et sans m’exposer à des conséquences négatives.</li>
      <li>J’ai été informé de manière <a href="/fr/study_info.html" target="_blank">par écrit</a> des objectifs et des modalités de l’étude, des avantages et inconvénients ainsi que des risques encourus.</li>
      <li>J’ai lu la fiche d’information à l’attention des participants. Je suis conscient que je peux adresser mes questions à propos de l’étude par e-mail à <a href="mailto:info@covidtracker.ch">info@covidtracker.ch</a>. Mes questions concernant la participation à l'étude ont reçu une réponse satisfaisante. J’ai reçu une copie de la fiche <a href="/fr/study_info.html" target="_blank">d’information aux participants</a> ainsi que le <a href="/fr/consent.html" target="_blank">formulaire de consentement</a>.</li>
      <li>J’ai disposé de suffisamment de temps pour me décider à participer à l’étude.</li>
      <li>En cochant la case ci-dessous, je certifie que je remplis les prérequis énoncés dans la fiche d’information aux participants.</li>
      <li>J’autorise les personnes en charge de l’étude et les membres de la commission éthique à accéder aux données brutes, dans le respect des règles de confidentialité.</li>
      <li>Je suis conscient que pendant la durée de l’étude je dois me conformer aux règles et aux limites décrites dans la fiche d’information aux participants. Les responsables de l’étude disposent du droit de m’exclure de l’étude sans requérir mon consentement.</li>
    </ul>
  </section>
</div>
