<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h2><%= t(:dataProtection) %></h2>
    <ul class="list">
      <li>Es wird kein Analysetool verwendet.</li>
      <li>Alle Daten werden in der Schweiz gespeichert.</li>
      <li>Wir verwenden die erfassten Daten nicht, um Rückschlüsse auf einzelne Personen zu ziehen.</li>
      <li>Die erfassten Daten werden ausschliesslich dazu benutzt, um die Pandemie zu bekämpfen.</li>
    </ul>
  </section>
</div>
