<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h2>FAQ</h2>

    <h3 class="faq__question">Pourquoi avez-vous créé ce formulaire, en quoi est-il utile ?</h3>
    <p>Au fur et à mesure que la pandémie au COVID-19 s’est répandue à travers le monde, il est devenu clair que tester la population était essentiel pour freiner la propagation du virus dans la communauté, comme cela a été démontrée en Corée du Sud et à Vò en Italie. Cependant tester une large population de façon non ciblée et longitudinale s’avère maintenant impossible. Actuellement en Suisse, les tests diagnostiques sont limités aux cas sévères. Nous aimerions compléter ces données avec ce court formulaire anonyme. Celui-ci nous permettra de suivre au long cours, la répartition des personnes symptomatiques dans l’ensemble du pays et éventuellement de donner des indications sur le nombre de personnes symptomatiques existant actuellement et sur les endroits où il est probable qu'il y ait une forte augmentation des cas ou des groupements isolés. Nous prévoyons de publier des statistiques sommaires afin d’éduquer le public et donner une motivation claire à la pratique de l'éloignement physique, etinformer le canton de Berne et les autres entités gouvernementales intéressées àsuivre la dynamique des symptômes dans leur communauté.</p>
    
    <h3 class="faq__question">Quel est le but de la campagne ?</h3>
    <p>Le but du COVID-19 tracker est de collecter un maximum de données le plus rapidement et longtemps possible auprès d’un échantillon de la population suisse. Peu importe qu’elle soit malade ou non. Entre autres choses, ces données visent à fournir une image plus détaillée de la situation du virus dans différentes parties de notre pays (voir la question précédente).</p>
    
    <h3 class="faq__question">Pourquoi dois-je remplir le sondage tous les jours ou du moins fréquemment ?</h3>
    <p>Pour comprendre comment les symptômes évoluent dans une région précise, il est important de voir comment les répondants individuels évoluent au fil du temps. Remplir l’enquête une fois est un point de données important, mais l’accumulation de points de données au fil du temps est plus utile pour identifier les changements dans votre district et votre ville.</p>
    
    <h3 class="faq__question">Dois-je remplir le formulaire si je n’ai pas de symptômes ?</h3>
    <p>Oui ! Nous nous intéressons aux changements dans la santé des gens, donc, savoir que vous vous sentiez bien hier, mais que vous avez de la fièvre aujourd’hui, est une information importante. Il suffit de sélectionner « Aucun symptôme » et de continuer à le faire, à moins que la situation ne change.</p>

   
    <h3 class="faq__question">J’ai rempli d’autres enquêtes liées au COVID-19, ou utiliser des applications similaires. Dois-je aussi remplir la vôtre ?</h3>
    <p>Oui, s’il vous plaît remplissez notre formulaire ainsi que les autres, si vous avez commencé à le faire. Veuillez également lire la question suivante pour plus de détails sur ce qui est fait pour joindre nos efforts à d’autres initiatives.</p>
    
   
    <h3 class="faq__question">Pourquoi existe-t-il de nombreuses options pour le suivi des symptômes ?</h3>
    <p>Il n’est pas rare, qu’en période de forte activité et d’urgence, plusieurs projets commencent en parallèle. Notre équipe multidisciplinaire travaille diligemment depuis plusieurs semaines pour s’assurer que notre enquête est informative pour les médecins et les épidémiologistes et qu’elle répond aux normes éthiques et juridiques élevées qui doivent être respectées pour recueillir en toute sécurité les données relatives à la santé de la population suisse. Nous avons obtenu la collaboration et le soutien du canton de Berne et de l’ETHZ, et nous nous coordonnons avec les autres efforts visant à consolider un flux de données conjoint parmi les options actuellement disponibles pour le suivi des symptômes. </p>
    
    <h3 class="faq__question">Qui est derrière ce projet ?</h3>
    <p>Nous sommes un groupe d’universitaires, de chercheurs indépendants, de développeurs de logiciels, de biologistes et de médecins travaillant en collaboration avec le département de la santé du canton de Berne pour fournir ce que nous croyons être un service nécessaire pour notre communauté. <br />
        <ul>
        <li>ETH Zürich: Groupe d’informatique biomédicale, Département d’informatique <a href="https://bmi.inf.ethz.ch/">https://bmi.inf.ethz.ch/</a> </li>
        <li>Milliways: Nous trouvons des solutions pragmatiques pour presque tous les problèmes informatiques </li>
        <li>Nine: Nous nous assurons que personne n’ait à s’inquiéter de l’évolutivité des backends grâce à un cluster Kubernetes</li>
        <li>Astina: Fournisseur de solutions logicielles de backend et de traitement de données de Zurich </li>
        <li>Esri: Nous sommes les pionniers de la résolution de problèmes et de la visualisation avec le logiciel Geographic Information System pour vous aider à voir ce que les autres ne peuvent pas faire. </li>
        <li>Canton de Berne: Dr. med. Jan von Overbeck, coordinateur médicale et spécialiste en maladies infectieuses </li>
        </ul>

    </p>
  
    <h3 class="faq__question">Les médecins sont-ils impliqués ? Cet effort est-il scientifiquement soutenu ?</h3>
    <p>L’enquête a été développée en étroite collaboration et avec le suivi continu des médecins de spécialités pertinentes (telles que l’épidémiologie, les soins intensifs et l’infectiologie), ainsi que des scientifiques épidémiologiques de premier plan, et des autorités du canton de Berne. Nous sommes particulièrement reconnaissants au Dr. Jan von Overbeck, au Dr. Tobias Merz, au Dr. Martin Faltys, au Dr. Christian Althaus, au Dr. Marcel Salathé ainsi que bien d’autres membres d’une grande équipe de partisans. </p>
  
    <h3 class="faq__question">Pourquoi seulement les symptômes ? Certains symptômes peuvent également être liés à la grippe, au refroidissement, etc...</h3>
    <p>Cette enquête n’est pas destinée à être un outil de diagnostic du COVID-19 et y participer n’exclut pas un test diagnostique si nécessaire. Notre objectif est d’estimer la quantité de personnes symptomatiques, et la prévalence des symptômes des études antérieures (telle que celle-ci) se sont avérées corrélées avec les tests positifs au COVID-19 rapportés. Nous espérons que cela donnera au public et aux experts un aperçu de l’endroit où le COVID-19 se trouve probablement le plus actuellement et aidera à prédire les foyers émergents.</p>
  
    <h3 class="faq__question">Où sont stockées les données ? Mes données sont-elles sécurisées ?</h3>
    <p>Toutes les données sont collectées de manière anonyme et stockées en toute sécurité en Suisse. Nous avons pris les mesures appropriées pour empêcher le public d’accéder aux données brutes. En accord avec notre autorisation éthique, les données ne seront rendues publiques que sous forme agrégée, ne permettant pas de distinguer un individu en particulier. Nous ne recueillons pas de noms, ni d’autres formes de données personnelles. Toute transmission de données est cryptée.</p>
  
    <h3 class="faq__question">Que faites-vous des données ?</h3>
    <p>À court terme, les données seront mises à la disposition des chercheurs en épidémiologie et des autorités afin de mieux estimer la dynamique de propagation du COVID-19 en Suisse, et elles seront utilisées pour fournir des visualisations informatives au grand public, (cf. notre carte, par exemple). Bien que les données ne puissent pas être utilisées pour diagnostiquer une personne, les données analysées en fonction du lieu et dans le temps, montreront des zones à risque de symptômes émergents et permettra une réaction en temps opportun. À long terme, l’ensemble complet des données sera une ressource précieuse pour la recherche afin de mieux comprendre comment les maladies telles que le COVID-19 se propagent et d’informer sur la façon dont les mesures barrières ont fonctionné.
    </p>
  
    <h3 class="faq__question">Les données pourraient-elles être biaisées ? si, par exemple, plus de gens provenant de villes ou d’autres régions densément peuplées remplissent le questionnaire ?</h3>
    <p>Oui, ce type de collecte de données comporte des biais. Mais de nombreux biais peuvent être corrigés si une large et diffuse participation de la population est atteinte, ainsi les observations peuvent être très précises. Par exemple, le biais géographique peut être corrigé en divisant le nombre de cas suspects par le total de participants dans la zone concernée, ce qui rend le pourcentage de symptômes par code postal plus significatif, lorsqu’il est placé dans le contexte d’autres codes postaux ou régions du pays.</p>
  
  </section>
</div>
