<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h2>Thanks!</h2>
    <p>Thank you for answering our questionnaire. Together we are stronger.</p>

    <div class="boxed code-chooser" style="padding: 0 0 0 20px;">
      <p>Your participation code is: <span id="yourCodeHere" class="code"></span></p>
    </div>

    <p>Remember this code if you need to fill out a survey on another device.</p>
    <p>Please come back tomorrow to fill out the survey again, especially if:</p>
    <ul class="list">
      <li>One of the symptoms occurs</li>
      <li>You have tested positive for the coronavirus</li>
      <li>You are under quarantine</li>
    </ul>
    <p>This campaign will be especially useful if a large number of people fill out the questionnaire regularly. Please spread it as widely as possible. Help older people in particular by filling it out. And stay healthy!</p>

    <p>Here's a random cat as thanks:</p>

    <div id="randomKittenBox"></div>

    <div class="response-share">
      <div style="text-align: center; margin-bottom: 20px;">
        <%= partial("localizable/partials/mailinglist", :locals => { :name => "mailing_list" }) %>
      </div>
      <%= partial "partials/social" %>
    </div>
  </section>
</div>

<script>
onDOMReady(function() {
  retrieveCatImage('randomKittenBox');
});
</script>
