<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h2>Danke!</h2>
    <p>Vielen Dank, dass Sie diese Fragen beantwortet haben. Gemeinsam sind wir stärker.</p>
    <div class="boxed code-chooser" style="padding: 0 0 0 20px;">
      <p>Ihr Teilnehmercode lautet: <span id="yourCodeHere" class="code"></span></p>
    </div>

    <p>Bitte notieren Sie diesen Code und halten Sie ihn bereit, für den Fall dass Sie diese Umfrage auf einem anderen Endgerät ausfüllen wollen</p>

    <p>Bitte nehmen Sie sich die Zeit, die Umfrage auch morgen wieder auszufüllen, insbesondere wenn:</p>
    <ul class="list">
      <li>Eines der genannten Symptome auftritt</li>
      <li>Sie positiv auf Covid-19 getestet werden</li>
      <li>Sie unter Quarantäne stehen</li>
    </ul>
    <p>Dieser Corona-Tracker ist nur dann nützlich, wenn eine große Anzahl von Personen ihn regelmäßig ausfüllt. Bitte verbreiten Sie ihn so weit wie möglich in Ihrem Umfeld. Helfen Sie älteren Menschen, ihn auszufüllen. Und bleiben Sie gesund!</p>

    <p>Hier ist eine zufällige Katze als Dank:</p>

    <div id="randomKittenBox"></div>

    <div class="response-share">
      <div style="text-align: center; margin-bottom: 20px;">
        <%= partial("localizable/partials/mailinglist", :locals => { :name => "mailing_list" }) %>
      </div>
      <%= partial "partials/social" %>
    </div>
  </section>
</div>

<script>
  onDOMReady(function() {
    retrieveCatImage('randomKittenBox');
  });
</script>
