---
title: Thank You
---

<%= partial "partials/header" %>
<div class="container">
  <section class="subpage">
    <h2>Vielen Dank</h2>
    <p>Vielen Dank, dass Sie diese Fragen ausgefüllt haben: Dies wird im Kampf gegen die Epidemie von grossem Nutzen sein.</p>
    <p>Sie können den Fragebogen gerne erneut ausfüllen, wenn:
      <ul>
        <li>Eines der genannten Symptome auftritt</li>
        <li>Wenn Sie auf Covid-19 getestet werden</li>
        <li>Wenn Sie unter Quarantäne stehen</li>
      </ul>
    </p>
    <p>Dieser Corona-Tracker wird nur dann nützlich sein, wenn eine sehr große Anzahl von Personen ihn ausfüllt und uns die Informationen zur Verfügung stellt. DANKE, für die weitmöglichste Verbreitung in Ihrem Umfeld!</p>
    <div class="response-share">
      <%= partial "partials/social" %>
    </div>
  </section>
</div>
