<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h2>Merci !</h2>
    <p>Merci beaucoup d'avoir répondu à ces questions. Ensemble, nous sommes plus forts.</p>
    <p>N'oubliez pas de remplir à nouveau ce questionnaire si :
      <ul>
        <li>l'un des symptômes ci-dessus se manifeste</li>
        <li>vous avez un test positif pour le Covid-19</li>
        <li>vous êtes en quarantaine</li>
      </ul>
    </p>
    <p>Plus le nombre de personnes participant à l'enquête est élevé, plus la campagne génèrera de bénéfices. Veuillez donc diffuser le traceur le plus largement possible dans votre entourage. Aidez aussi les personnes âgées à le remplir. Et restez en bonne santé !</p>
    <div class="response-share">
      <%= partial "partials/social" %>
    </div>
  </section>
</div>
