<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h2>Thanks!</h2>
    <p>Thank you for answering our questionnaire. Together we are stronger.</p>

    <p>Your participation code is: <span id="yourCodeHere" class="code"></span></p>

    <p>Please fill out the form again, if:</p>
    <ul class="list">
      <li>One of the symptoms occurs</li>
      <li>You have tested positive for the coronavirus</li>
      <li>You are under quarantine</li>
    </ul>
    <p>This campaign will be especially useful if a large number of people fill out the questionnaire regularly. Please spread it as widely as possible. Help older people in particular by filling it out. And stay healthy!</p>

    <p>Here's a random cat as thanks:</p>

    <div id="randomKittenBox"></div>

    <div class="response-share">
      <%= partial "partials/social" %>
    </div>
  </section>
</div>

<script>
onDOMReady(function() {
  retrieveCatImage('randomKittenBox');
});
</script>