<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h2>Merci !</h2>
    <p>Merci beaucoup d’avoir répondu à ces questions. Ensemble, nous sommes plus forts.</p>
    <p>Nous vous prions instamment de remplir à nouveau ce questionnaire si :
      <ul>
        <li>l’un des symptômes décrits se manifeste</li>
        <li>vous êtes testé-e positif/positive au Covid-19</li>
        <li>vous devez rester en quarantaine.</li>
      </ul>
    </p>
    <p>Plus il y aura de personnes répondant régulièrement à ce questionnaire, plus la campagne démontrera son utilité. Merci de bien vouloir le transmettre à votre entourage, en aidant au besoin les personnes âgées qui auraient des difficultés à le remplir. Et prenez bien soin de vous !</p>

    <p>Voici un chat au hasard en guise de remerciement:</p>

    <div id="randomKittenBox"></div>

    <div class="response-share">
      <%= partial "partials/social" %>
    </div>
  </section>
</div>

<script>
onDOMReady(function() {
  retrieveCatImage('randomKittenBox');
});
</script>