<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h2>Danke!</h2>
    <p>Vielen Dank, dass Sie diese Fragen beantwortet haben. Gemeinsam sind wir stärker.</p>
    <p>Bitte füllen Sie diesen Fragebogen unbedingt erneut aus, wenn:</p>
    <ul class="list">
      <li>Eines der genannten Symptome auftritt</li>
      <li>Sie positiv auf Covid-19 getestet werden</li>
      <li>Sie unter Quarantäne stehen</li>
    </ul>
    <p>Dieser Corona-Tracker ist nur dann nützlich, wenn eine große Anzahl von Personen ihn regelmäßig ausfüllt. Bitte verbreiten Sie ihn so weit wie möglich in Ihrem Umfeld. Helfen Sie älteren Menschen, ihn auszufüllen. Und bleiben Sie gesund!</p>

    <p>Hier ist eine zufällige Katze als Dank:</p>

    <div id="randomKittenBox"></div>

    <div class="response-share">
      <%= partial "partials/social" %>
    </div>
  </section>
</div>

<script>
  onDOMReady(function() {
    retrieveCatImage('randomKittenBox');
  });
</script>