<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h2>Grazie!</h2>
    <p>La ringraziamo per aver risposto alle nostre domande. Uniti, siamo più forti.</p>
    <p>La preghiamo di compilare di nuovo il presente modulo nel caso in cui:
      <ul>
        <li>si verifichi uno qualsiasi dei sintomi di cui sopra</li>
        <li>sia risultato/a positiva al test del Covid-19</li>
        <li>si trovi in quarantena</li>
      </ul>
    </p>
    <p>Più persone partecipano al sondaggio, maggiori saranno i benefici della campagna. La preghiamo perciò di diffondere il più possibile il sistema di tracciamento nella cerchia dei suoi conoscenti. Aiuti le persone anziane a compilare il modulo. E stia in salute!</p>
    <div class="response-share">
      <%= partial "partials/social" %>
    </div>
  </section>
</div>
