<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h1>Foglio informativo per i partecipanti</h1>

    <p>
      <strong>Titolo dello studio </strong>
      Swiss-wide Longitudinal COVID-19 Health Survey (SloCo; ETH Zurich Approvazione etica 2020-N-42)
    </p>

    <p>
      <strong>Obiettivi dello studio</strong>
      L'obiettivo del presente studio è quello di raccogliere dati sanitari anonimi sull’infezione da Covid-19 presso una vasta fetta della popolazione svizzera. Tali dati saranno utilizzati per monitorare e visualizzare in tempo reale i cambiamenti della situazione sanitaria svizzera e potranno contribuire allo sviluppo di modelli predittivi volti all’introduzione di misure per mitigare la pandemia.
    </p>

    <p>
      <strong>Procedura e programma di ricerca</strong>
      Lo studio è concepito come un sondaggio online. Verranno raccolte informazioni sanitarie non identificative relative a COVID-19. Le informazioni verranno aggregate per area di codice postale e rese disponibili al pubblico. Informazioni non aggregate saranno rese disponibili ai ricercatori dell'epidemiologia in Svizzera per migliorare la modellizzazione della diffusione e valutare il tasso di successo delle misure di contenimento. I partecipanti sono incoraggiati a partecipare al sondaggio su base giornaliera. La raccolta dei dati comprenderà almeno un anno, a partire da marzo 2020.
    </p>

    <p>
      <strong>Condizioni di partecipazione</strong>
      Qualsiasi persona che ha già compiuto i 18 anni può partecipare allo studio. Il partecipante può compilare il modulo con i suoi dati personali oppure, in qualità di genitore o di tutore legale, compilarlo per altre persone di età inferiore ai 18 anni.
    </p>

    <p>
      <strong>Vantaggi e rischi della partecipazione</strong>
      I benefici per i partecipanti sono una stima più precisa del rischio epidemiologico riscontrato nell’area del loro codice postale. Poiché questo studio è condotto in forma anonima, il rischio di reidentificazione dei partecipanti è molto ridotto. Sono state adottate varie misure, quali l'aggregazione e il k-anonimato, mirate alla protezione dei dati non identificati dagli attacchi di reidentificazione.
    </p>

    <p>
      <strong>Fonte di finanziamento</strong>
      Il presente studio è realizzato grazie ai mezzi finanziari dell'ETH di Zurigo.
    </p>

    <p>
      <strong>Indennità</strong>
      I partecipanti al presente studio non ricevono alcun compenso (finanziario né di altro tipo).
    </p>

    <p>
      <strong>Diritto di recesso</strong>
      Tutti i partecipanti possono smettere di contribuire allo studio in qualsiasi momento senza ulteriore avviso all'ETH o alla direzione dello studio. I dati anonimi raccolti fino al momento del ritiro, rimarranno parte del set di dati di studio.
    </p>

    <p>
      <strong>Protezione dei dati</strong>
      Tutti i dati ottenuti verranno archiviati in modo sicuro sui server ETH in Svizzera e raccolti in forma anonima. Ai partecipanti verrà assegnato un codice di studio casuale. Non vengono richieste o raccolte informazioni di identificazione personale.
    </p>

    <p>
      <strong>Copertura assicurativa</strong>
      Eventuali danni alla salute, che sono direttamente correlati allo studio e che sono manifestamente imputabili all'ETH di Zurigo, sono coperti dall'assicurazione di responsabilità civile generale dell'ETH di Zurigo (Polizza assicurativa n. 30 / 4.078.362 della Basler Versicherung AG). 
      Oltre a quanto sopra, sono a carico del partecipante l'assicurazione malattia e l'assicurazione contro gli infortuni (ad es. per le trasferte da e per il luogo di studio).
    </p>

    <p>
      <strong>Contatti</strong>
      In caso di domande, si prega di contattare il Prof. Dr. Gunnar R&auml;tsch all’indirizzo di posta elettronica <a href="mailto:info@covid19survey.ch">info@covid19survey.ch</a>.
    </p>
  </section>
</div>
