<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h1>Information für Teilnehmende</h1>

    <p>
      <strong>Studientitel: </strong>
      Schweizweite Longitudinale COVID-19 Gesundheitsstudie (SloCo; ETH Zurich Ethikbewilligung 2020-N-42)
    </p>

    <p>
      <strong>Studienziele</strong>
      Ziel dieser Studie ist es, anonymisierte Gesundheitsdaten einer breiten Schweizer Öffentlichkeit zu COVID-19 zu sammeln. Diese Daten werden verwendet, um Änderungen der Schweizer Gesundheitssituation in Echtzeit zu überwachen und darzustellen und können dazu beitragen, Vorhersagemodelle zu erstellen, die möglicherweise bei der Entwicklung von Maßnahmen zur Minderung der Pandemie hilfreich sein könnten.
    </p>

    <p>
      <strong>Forschungsverfahren und -plan</strong>
      Die Studie ist als Online-Umfrage konzipiert, und basiert auf der Sammlung de-identifizierter Gesundheitsinformationen in Bezug auf COVID-19. Die Informationen werden nach Postleitzahlbereichen zusammengefasst und öffentlich zugänglich gemacht. Nicht aggregierte Rohdaten werden epidemiologischen Forschern in der Schweiz zur Verfügung gestellt, um die Modellierung der Ausbreitung zu verbessern und die Erfolgsrate von Eindämmungsmassnahmen zu bewerten. Die Teilnehmer werden gebeten, täglich an der Umfrage teilzunehmen. Die Datenerfassung wird ab März 2020 mindestens für ein Jahr andauern.

    </p>

    <p>
      <strong>Teilnahmebedingungen</strong>
      Jede Person mit einem Alter von 18 Jahren oder darüber ist zur Teilnahme an der Studie berechtigt. Eine/e Teilnehmer/in kann die Daten entweder für sich selbst oder als Elternteil oder gesetzlicher Vormund für eine Person jünger als 18 Jahre eingeben.
    </p>

    <p>
      <strong>Nutzen und Risiken der Teilnahme</strong>
      Der Nutzen für die Teilnehmer stellt sich durch eine genauere Abschätzung ihres lokalen epidemiologischen Risikos anhand ihrer Postleitzahl dar. Da diese Studie anonym durchgeführt wird, ist das Risiko einer Identifizierung der Teilnehmer sehr gering. Verschiedene Maßnahmen wie bspw. Aggregation von Daten und k-Anonymität werden ergriffen, um die de- identifizierten Daten vor versuchter Re-Identifizierung zu schützen.
    </p>

    <p>
      <strong>Finanzierungsquelle</strong>
      Diese Studie wird aus Mitteln der ETH Zürich finanziert.
    </p>

    <p>
      <strong>Entschädigung</strong>
      Die Teilnehmer erhalten keine (finanzielle oder sonstige) Entschädigung für die Teilnahme an dieser Studie.
    </p>

    <p>
      <strong>Widerrufsrecht</strong>
      Alle Teilnehmer können jederzeit ohne weitere Mitteilung an die ETH oder das Studienmanagement die Teilnahme an der Studie einstellen. Anonyme Daten, die bis zum Zeitpunkt des Abbruchs gesammelt wurden, bleiben Teil des Datensatzes der Studie.
    </p>

    <p>
      <strong>Datenschutz</strong>
      Alle erhaltenen Daten werden sicher auf ETH-Servern in der Schweiz gespeichert und anonym gesammelt. Den Teilnehmern wird ein zufälliger Teilnehmercode zugewiesen. Es werden keine personenbezogenen Daten angefordert oder gesammelt.
    </p>

    <p>
      <strong>Versicherungsschutz</strong>
      Mögliche Gesundheitsschäden, die in direktem Zusammenhang mit der Studie stehen und nachweislich von der ETH Zürich verschuldet werden, sind durch die allgemeine Haftpflichtversicherung der ETH Zürich (Versicherungspolice Nr. 30 / 4.078.362 der Basler Versicherung AG) gedeckt. 
      Über das zuvor Erwähnte hinaus liegt die Krankenversicherung und die Unfallversicherung (z. B. der Weg zum oder vom Studienort) in der Verantwortung des Teilnehmers.
    </p>

    <p>
      <strong>Ansprechpartner</strong>
      Bei Fragen wenden Sie sich bitte an Prof. Dr. Gunnar R&auml;tsch unter <a href="mailto:info@covid19survey.ch">info@covid19survey.ch</a>.
    </p>
  </section>
</div>
