<%= partial "partials/header" %>
<%= partial "partials/homelink" %>
<div class="container">
  <section class="subpage">
    <h1>Foglio informativo per i partecipanti</h1>

    <p>
      <strong>Titolo dello studio </strong>
      Swiss-wide Longitudinal COVID-19 Health Survey (SloCo; ETH Zurich Approvazione etica 2020-N-42)
    </p>

    <p>
      <strong>Obiettivi dello studio</strong>
      L'obiettivo di questo studio è di raccogliere dati sulla salute personale relativi alla malattia di COVID-19 in tutto il pubblico in Svizzera. Questi dati verranno utilizzati per monitorare e visualizzare in tempo reale i cambiamenti della situazione sanitaria Svizzera e potrebbero aiutare a costruire modelli predittivi che potrebbero eventualmente aiutare a progettare misure di mitigazione della pandemia.
    </p>

    <p>
      <strong>Procedura e programma di ricerca</strong>
      Lo studio è concepito come un sondaggio online. Verranno raccolte informazioni sanitarie non identificative relative a COVID-19. Le informazioni verranno aggregate per area di codice postale e rese disponibili al pubblico. Informazioni non aggregate saranno rese disponibili ai ricercatori dell'epidemiologia in Svizzera per migliorare la modellizzazione della diffusione e valutare il tasso di successo delle misure di contenimento. I partecipanti sono incoraggiati a partecipare al sondaggio su base giornaliera. La raccolta dei dati comprenderà almeno un anno, a partire da marzo 2020.
    </p>

    <p>
      <strong>Condizioni di partecipazione</strong>
      Qualsiasi persona fisica di età pari o superiore a 18 anni può partecipare allo studio. Un partecipante può fornire i dati direttamente per se stesso o come genitore o tutore per conto di una persona di età inferiore ai 18 anni.
    </p>

    <p>
      <strong>Vantaggi e rischi della partecipazione</strong>
      I benefici per i partecipanti sono una stima più esatta del loro rischio epidemiologico locale con la loro area di codice postale. Poiché questo studio è condotto in forma anonima, il rischio di reidentificazione dei partecipanti è molto ridotto. Varie misure, come l'aggregazione e l'anonimato-k, sono adottate per proteggere i dati non identificati da attacchi di reidentificazione.
    </p>

    <p>
      <strong>Fonte di finanziamento</strong>
      Questo studio è finanziato dalle risorse dell'ETH di Zurigo.
    </p>

    <p>
      <strong>Compensazione</strong>
      I partecipanti non riceveranno alcun compenso (finanziario o di altro tipo) per la partecipazione a questo studio.
    </p>

    <p>
      <strong>Diritto di recesso</strong>
      Tutti i partecipanti possono smettere di contribuire allo studio in qualsiasi momento senza ulteriore avviso all'ETH o alla direzione dello studio. I dati anonimi raccolti fino al momento del ritiro, rimarranno parte del set di dati di studio.
    </p>

    <p>
      <strong>Protezione dei dati</strong>
      Tutti i dati ottenuti verranno archiviati in modo sicuro sui server ETH in Svizzera e raccolti in forma anonima. Ai partecipanti verrà assegnato un codice di studio casuale. Non vengono richieste o raccolte informazioni di identificazione personale.
    </p>

    <p>
      <strong>Copertura assicurativa</strong>
      Eventuali danni alla salute, che sono direttamente correlati allo studio e che sono manifestamente imputabili all'ETH di Zurigo, sono coperti dall'assicurazione di responsabilità civile generale dell'ETH di Zurigo (Polizza assicurativa n. 30 / 4.078.362 della Basler Versicherung AG). Oltre a quanto sopra menzionato, l'assicurazione sanitaria e l'assicurazione infortuni (ad es. Il pendolarismo da o verso il luogo di studio) sono a carico del partecipante.

    </p>

    <p>
      <strong>Contatti</strong>
      In caso di domande, si prega di contattare il Prof. Dr. Gunnar R&auml;tsch sotto <a href="mailto:info@covid19survey.ch">info@covid19survey.ch</a>.
    </p>
  </section>
</div>
