---
permalink: stronger together
title: Stronger together
author: Andre Kahles
---
<h4>Joining forces to fight COVID-19</h4>

<p>
  When we started to put our first questionnaires out, we quickly found ourselves in very good company. Also other teams had started to set up trackers and put them online, advertising them in social media. Their goal: collect anonymous health data to better inform models and put decisions about public health in this times of a pandemic onto a better statistical footing. Well, this was exactly the same goal as the one we had! It was great to see so much initiative from like minded people, most of them working on this in their free time. However, there was also a downside. Many participants approached us and were puzzled that there were so many parallel efforts. Should they fill out multiple surveys? How do the questions in different pages relate to each other? Is the data shared somehow? Would it hurt if they provided data to many projects? These and many more questions reached us and we realized it made no sense to ask the Swiss public to follow various trackers and provide their data multiple times. So what should we do?
</p>

<h4>Reaching out</h4>

<p>
  Each of the different projects had their specific benefits. While one had a nicely streamlined questionnaire that one could answer intuitively within a few seconds, the other had a much more detailed survey asking many medical details that could help build scientific models. One started to visualize data and connect data points over time, the other had reached out to public health officials and was much closer to put the data to use and inform public health management. One provided more languages, while the other one was clearly more scalable. We could go on and on and on. Just continuing as single projects, would have been a big loss - there was too much one could learn from another. So we decided it would be best to call for a joint effort and invite everybody to push into one direction. And lastly: having more people working on the same project brings us all closer to our goals more quickly.
</p>

<h4>The legal stuff</h4>

<p>
  So we had made the decision to join efforts. But what does that actually mean? Some people approached us and recommended to just throw all data into the same pot and be done with it. Unfortunately, it is not that easy. As always, many different stakeholders had all kinds of different interests that all wanted to be met. We wanted to collect data that is useful for public health management but can also be used to improve epidemiological models. We wanted to make as much data publicly available as quickly as possible, but also wanted to work within the tight privacy and ethics frameworks that are necessary for any collection of health-related data.
</p>

<p>
  To meet all these requirements and align them in a coordinated manner, we put our focus onto two things: a consortium agreement and a joint ethics proposal to the ethics board of the ETH Zurich. We were very lucky to have the ETH legal team on our side and to have the full support of the Canton of Bern. In normal times, setting up consortium agreements can go on for months. But this was time we did not have. In only two days, the ETH legal team had drafted an agreement and in another two days, we had circulated it amongst all project partners, collected feedback and were able to agree on a final document, which was signed by all parties on April 7th. The agreement makes sure that data can be shared with research and public health management, that ethics and privacy regulations are met, outlines how publication of data and insights is handled, ensures that the data cannot be used commercially, and regulates many more details. Most importantly, it provides a way for other efforts to join the consortium, collect data into the same pot and make sure all requirements are met. Speaking about requirements. In parallel to the consortium agreement, we reworked the existing ethics proposal so it would reflect the new circumstances and filed it to the ethics board for further review. Again, all this was done within a week and would not have been possible without the tremendous support of many institutions and volunteers. But this was only the administrative part …
<p/>

<h4> The technical stuff </h4>
<p>
  While on paper we were now allowed to exchange data and there was a plan to make a joint collection, there were still multiple web pages, multiple databases, multiple designs, … With everybody working from their homes, it took us a row of conference calls to decide how a unified solution would look like: to draft how to design the layout, to agree on a joint questionnaire, to discuss how to port features from one project to another and how to jointly develop. We invited each other as collaborators to our code repositories, discussed frontends, backends, databases, design goals, translations, cats, … In the end, we believe that we have chosen the best bits and pieces from all projects and have brought them together into the new covidtracker.ch: a thoroughly checked, ethics approved questionnaire, presented in a slim and streamlined design, supported with a powerful, scalable backend.
</p>

<h4> What’s next? </h4>
<p>
  After this stressful but very exciting time, we are now happy to focus on our future collaboration. There are so many directions to explore and things to improve. We want to have a statistical analysis of the first batch of data. We want to improve how data is shared with the public and with public health management. We want to further spread the word and let people know about our effort. You can help us with all these goals! Do you have questions about the science? Reach out to us! Do you have further ideas or suggestions for improvement? Reach out to us! Do you think this is a good idea and want to spread the word? Reach out to everybody you know!
</p>
