---
permalink: behind the scenes
title: Hinter den Kulissen
author: Andre Kahles
---
<h4>Der Weg einer COVID-19-Umfrage</h4>

<p>
Die Nachrichten, soziale Medien, die Wirtschaft, unser tägliches Leben,… - alles scheint vollständig von der aktuellen Pandemie des SARS-CoV-2-Virus bestimmt zu sein, die mittlerweile fast alle Länder der Erde ergriffen hat und das öffentliche Leben, so wie wir es kennen, abrupt zum Stillstand brachte.
Dieser Situation begegnen viele Menschen mit Angst und Sorge um ihre eigene Zukunft und die ihrer Lieben. Die Unsicherheit ergibt sich vor allem daraus, dass viele Dinge über SARS-CoV-2 bisher noch unbekannt sind, was es oft schwierig macht, genaue Vorhersagen zu treffen. Glücklicherweise ist dies aber auch eine Situation, zu deren Verbesserung jeder einzelne beitragen kann.
</p>

<h4>Mehr Forschung. Weniger Angst.</h4>

<p>
Ganz im Sinne dieses Mottos -- welches von einem der führenden Krebs-Spitäler der Welt verwendet wird -- wollten wir dazu beitragen, die Unsicherheit zu verringern. Lassen Sie uns mehr Forschung betreiben, um mehr über das Virus zu erfahren. Lassen Sie uns versuchen die schwierigen Fragen zu beantworten und der Angst entgegenzutreten.
Während einige Forschungsfragen fast unmöglich zu beantworten sind, wenn man keinen Zugang zu einem spezialisierten Labor mit hochqualifiziertem Personal hat (z.B., Wie finde ich einen wirksamen Impfstoff?), erfordern andere nur etwas IT-Infrastruktur und die Unterstützung von Freiwilligen (z.B., Wie schnell verbreitet sich der Virus? Wo wird die Situation kritisch und an welcher Stelle sollten wir unsere begrenzten Ressourcen am ehesten einsetzen?).
</p>

<p>
Als Mitglieder der Gruppe für Biomedizininformatik an der ETH Zürich sind wir in einer guten Position um bei letzterem zu helfen. Inspiriert vom Beispiel ähnlicher Studien in Ländern wie  Israel und den USA, wollten auch wir die Schweizer Bevölkerung zu ihrem aktuellen Gesundheitszustand befragen, kontinuierlich und anonym, d.h. nicht nur zu einem einzigen Tag Auskunft zu erhalten, sondern über einen ganzen Zeitraum hinweg. Zusammen mit dem ungefähren Wohnort sind solche Informationen eine ausgesprochen hilfreiche Datenquelle und eine wichtige Ergänzung zu den medizinischen Labor-Tests auf das Virus (welche derzeit eine sehr stark begrenzte Ressource sind).
</p>

<h4>Warum sind diese Daten hilfreich?</h4>

<p>
Man könnte sich nun fragen, wie anonyme Daten ohne genauen geografischen Standort überhaupt helfen können. Lassen Sie uns erklären warum es hilft (und das in der Tat sehr). Es ist dabei wichtig zu verstehen, dass es nicht unser Ziel ist eine medizinische Diagnose für eine einzelne Person zu erstellen, sondern zu erfahren wie viele Menschen innerhalb der Schweiz derzeit gesundheitlich vom SARS-CoV-2 Virus betroffen sind - also  die Gesundheitssituation der Bevölkerung insgesamt zu betrachten. Das schliesst übrigens auch alle Gesunden mit ein. Die in unserer Umfrage gesammelten Daten helfen uns herauszufinden, wie sich die Zahl wahrscheinlich erkrankter im Laufe der Zeit dynamisch ändert und ob lokale Cluster entstehen -- eine Information die möglicherweise genutzt werden kann um mehr Ressourcen für bestimmte Regionen verfügbar zu machen und im allgemeinen besser zu planen. Des weiteren hilft es uns zu sehen, wie sich Risikofaktoren oder individuelle Krankengeschichten über die Schweiz hinweg und innerhalb ihrer Kantone verteilen. Einer Antwort auf all diese Fragen kommt man nur näher, wenn man eine ausreichend grosse Anzahl von Menschen regelmässig zu einer kurzen Liste von Punkten über ihre Gesundheit befragt. Auch wenn wir weder den Namen noch die Strasse einer Person benötigen, so ist es dennoch wichtig für uns, die einzelnen Datenpunkte miteinander verbinden zu können. Das heisst, wenn ein Teilnehmer mehrmals antwortet, ist es für uns wichtig zu wissen, welche Antworten der gleiche Teilnehmer in der Vergangenheit gegeben hat. Diese Datenpunkte werden dann miteinander verknüpft und gemeinsam betrachtet. Auf diese Weise lässt sich beobachten was Epidemiologen als „zeitliche Dynamik“ bezeichnen und resultiert in einem sehr informativen Datensatz auf dessen Grundlage man zeitliche Vorhersagen treffen kann.
In diesem Kontext reicht das Wissen über den ungefähren Standort der Teilnehmer aus, um lokale Muster zu erkennen und zu sehen, ob in einer Region in gleicher Zeit mehr Verdachtsfälle hinzukommen als in einer anderen. Diese Information kann dann dabei helfen mit angemessener Dringlichkeit zu reagieren.
</p>

<h4>Welche Art von Daten sollte gesammelt werden?</h4>

<p>
Es ist sehr einfach, eine Handvoll relevanter Fragen in einer kurzen Umfrage zu bündeln und der Öffentlichkeit zu stellen. Viel schwieriger ist es aber, ein ausgewogenes Verhältnis zwischen Inhalt und Umfang zu finden. Das heißt zu bewerten, welche Fragen informativ genug sind, um nicht nur aus wissenschaftlicher sondern auch aus Sicht der öffentlichen Gesundheit in die Umfrage aufgenommen zu werden. Dabei ist einerseits zu beachten, dass jede Frage die Teilnehmer Zeit kostet und somit den individuellen Zeitaufwand erhöht. Andererseits braucht es eine minimale Anzahl von Fragen, um den wissenschaftlichen Nutzen der Befragung zu garantieren.
Um diese Entscheidungen möglichst ausgewogen treffen zu können, haben wir ein Netzwerk von Experten einbezogen. Darunter befinden sich Ärzte der relevanten Fachgebiete (wie bspw. Epidemiologie und Intensivmedizin) aber auch führende epidemiologische Wissenschaftler. In diesem Zusammenhang möchten wir uns herzlich bei Dr. Tobias Merz, Dr. Martin Faltys, Dr. Christian Althaus, Dr. Marcel Salathé und vielen anderen aus einem großartigen Team von Unterstützern für ihre Hilfe und ihren vielen wertvollen Rückmeldungen bedanken.
Die Ergebnisse mehrerer Feedbackrunden haben wir in unsere Umfrage integriert und waren so in der Lage, sie auf eine einzelne Seite und weniger als 20 Fragen zu begrenzen aber dennoch dafür zu sorgen, dass sie ausreichend Informationen für eine robuste Datenanalyse enthält.
</p>

<h4>Wie setzt sich das Puzzle zusammen?</h4>

<p>
Auch wenn bereits ein einzelner Datenpunkt durchaus nützlich ist, steigt sein Wert deutlich, wenn wir wissen, wie er sich im Laufe der Zeit verändert. Dann ist es beispielsweise möglich etwas über das Fortschreiten von Symptomen zu lernen, die Veränderungen innerhalb einer Region über die Zeit hinweg zu betrachten, oder herauszufinden wie viele Menschen sich wie schnell von der Krankheit erholen. Aus diesem Grund bitten wir alle Teilnehmer, möglichst täglich an der Umfrage teilzunehmen. Dieser Grundsatz bringt jedoch auch Probleme mit sich, zum Beispiel die Frage: Wie ermöglicht man die Erfassung mehrerer Datenpunkte einzelner Teilnehmer anonym über mehrere Zeitpunkte, ohne nach deren Namen zu fragen. Letztlich haben wir das Problem dadurch gelöst, dass wir jedem Teilnehmer einen zufälligen Code zugewiesen haben, welcher im Browser gespeichert wird (sofern die Teilnehmer die Verwendung von Cookies erlauben). Selbst wenn die Teilnehmer die Verwendung von Cookies ablehnen, können sie den Teilnehmercode notieren und bei der nächsten Umfrage erneut eingeben, um so eine anonyme Wiedererkennung zu gewährleisten.
Um die für ein erneutes Ausfüllen benötigte Zeit zu verringern, werden die Antworten der vorherigen Abgabe gespeichert, wenn Cookies aktiviert sind. In diesem Fall dauert das tägliche Einchecken weniger als 30 Sekunden.
</p>

<h4>Es handelt sich um Gesundheitsdaten - wie gehen wir mit Datenschutz um?</h4>

<p>
Glücklicherweise ist die Gruppe für Biomedizininformatik an der ETH Zürich daran gewöhnt mit sensiblen gesundheitsbezogenen Daten zu arbeiten. Unser erster Schritt war es also, mit der Ethikkommission der ETH in Kontakt zu treten und unser geplantes Projekts kurz vorzustellen. Nach diesem ersten Austausch haben wir einen formellen Antrag verfasst und ihn der Kommission vorgelegt. Unser Vorschlag wurde nach einer gründlichen Überprüfung durch die Kommission und einer anschliessenden Überarbeitung unsererseits von der Ethikkommission angenommen. Von nun an durften wir Daten sammeln, diese für Forschungszwecke verwenden und in aggregierter Form an andere Forscher und Gruppen weitergeben. Sie werden sich vielleicht fragen warum das auch in einer solch akuten Situation notwendig ist. Als Wissenschaftler sind wir darauf angewiesen, dass die Öffentlichkeit uns ihre Daten anvertraut. Selbst in einer Situation, in der Informationen anonym gesammelt werden, gibt es Risiken, und wir müssen (und wollen) so detailliert wie möglich über diese informieren. Aus diesem Grund bitten wir die Teilnehmer auch vor jeder einzelnen Datenübermittlung um ihre Zustimmung und stellen detaillierte Informationen zu Nutzen und Risiken zur Verfügung.
Dies ist auch der Grund weswegen wir mit der derzeitigen Anzahl an Teilnehmern noch keine Auswertung einzelner Datensätze zur Verfügung stellen können, da es die vorgeschriebenen Regeln zur Anonymisierung verletzen würde. Es ist jedoch bereits jetzt möglich, zusammenfassende Informationen auf dem Kantons-Level in Echtzeit anzuzeigen. Sobald eine ausreichende Anzahl von Postleitzahlbereichen eine nominelle Anzahl von 50 Datenpunkten überschritten hat (ein von der Ethikkommission geforderter Schwellenwert), können wir detaillierte Informationen anzeigen. Zusätzlich bieten wir dann ebenfalls Zugang zu Statistiken die informativer sind als die Gesamtzahl der Einreichungen.
</p>

<h4>Quo vadis?</h4>

<p>
Zum Zeitpunkt des Verfassens dieses Eintrags (30. März 2020) haben wir bereits am zweiten Tag nach dem Start die Marke von 2.500 Einreichungen überschritten. Während dies für ein solch junges Projekt sicherlich beeindruckend ist, kann es nur der erste Schritt in Richtung eines Datensatzes sein, der für die Epidemiologie und die öffentliche Gesundheit sowohl nützlich als auch informativ sein soll. Es ist wichtig, die Teilnehmer nicht nur darüber zu informieren, was mit ihren Daten passiert, sondern sie auch zu motivieren, zurückzukommen und davon zu überzeugen, die Umfrage weiter zu verbreiten. Eine repräsentative Gesundheitsumfrage zu gestalten, die als Grundlage für epidemiologische Vorhersagen in Echtzeit in der Schweiz genutzt werden kann, wäre nicht nur nützlich sondern könnte auch dazu beitragen die Ausbreitung der Pandemie weiter einzudämmen.
</p>
